.message-wrapper .message .extras-container {
  .attachment {
    @include boxSizing-borderBox;
    border-radius: 3px;
    letter-spacing: 0;
    max-width: 520px;
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-color: var(--background-secondary-alt);
    background-color: var(--background-secondary);

    &.normal {
      @include flexDirection-row;
      @include alignItems-center;
      @include display-flex;
    }

    .icon {
      width: 30px;
      height: 40px;
      margin-right: 8px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }

    .attachment-inner {
      @include flex-1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .filename-link-wrapper {
        color: var(--text-link);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .metadata {
        font-weight: 300;
        color: #72767d;
        margin-right: 8px;
        line-height: 16px;
        font-size: 12px;
      }
    }

    .download-wrapper {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 8px;

      svg {
        color: var(--interactive-normal);
        cursor: pointer;
      }

      &:hover svg {
        color: var(--interactive-hover);
      }
    }
  }

  .audio-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    color: #fff;
    @include userSelect-none;
    padding: 10px;
    @include display-flex;
    @include flexDirection-column;
    border-style: solid;
    border-width: 1px;
    @include justifyContent-spaceBetween;
    overflow: visible;
    max-width: 100%;
    @include boxSizing-borderBox;
    border-color: var(--background-secondary-alt);
    background-color: var(--background-secondary);

    .audio-metadata {
      &:before {
        width: 24px;
        height: 40px;
        content: '';
        background-image: url('~assets/file_audio.svg');
        background-size: 100% auto;
        background-repeat: no-repeat;
      }

      .metadata-content {
        padding: 0 8px;

        .metadata-size {
          color: var(--text-muted);
        }
      }
    }
  }

  .video-wrapper {
    background-color: #202225;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    color: #fff;
    @include userSelect-none;

    .video-metadata {
      @include boxSizing-borderBox;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      height: 80px;
      @include alignItems-flexStart;
      background-image: -webkit-gradient(linear,left bottom,left top,from(transparent),to(rgba(0,0,0,.9)));
      background-image: linear-gradient(0deg,transparent,rgba(0,0,0,.9));
      padding: 22px 12px 12px;
      z-index: 1;
      transform: translateY(0%);
      -webkit-transition: transform .25s;
      transition: transform .25s;
    }

    &.playing:not(:hover) .video-metadata {
      transform: translateY(-100%);
    }

    video {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      @include objectFit-contain;
      border-radius: 3px;
    }
  }

  .audio-metadata, .video-metadata {
    @include display-flex;

    .metadata-content {
      @include flex-1-1-auto;
      white-space: nowrap;
      overflow: hidden;

      .metadata-name, .metadata-size {
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .metadata-name {
        font-size: 16px;
        line-height: 20px;
      }

      .metadata-size {
        font-size: 12px;
        line-height: 16px;
        opacity: .7;
      }
    }

    .metadata-download {
      height: 24px;
      @include flex-0-0-auto;
      opacity: .6;

      &:hover {
        opacity: 1;
      }

      svg {
        color: var(--interactive-normal);
      }
    }
  }

  .image-accessory {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1;

    .gif-tag {
      background-image: url('~assets/gif_tag.svg');
      width: 29px;
      height: 22px;
    }
  }
}
