a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a, button, div, input, select, span, strong, textarea, time, video {
  outline: 0;
}

img[alt] {
  text-indent: -9999px;
}

a {
  color: var(--text-link);
  text-decoration: none;
  cursor: pointer;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}
