.message-wrapper {
  .message {
    position: relative;
    word-wrap: break-word;
    @include userSelect-text;
    @include flex-0-0-auto;
    padding-right: 16px;
    min-height: 1.375rem;
    padding-top: .125rem;
    padding-bottom: .125rem;
    padding-right: 48px!important;

    &:hover {
      background-color: var(--background-message-hover);

      .visible-on-hover {
        opacity: 1;
      }
    }

    &.group-start {
      margin-top: 1.0625rem;
    }

    &.compact .timestamp, &.cozy .timestamp.alt {
      text-align: right;
      font-size: 0.6875rem;
      line-height: 1.375rem;
      margin-right: .25rem;
      color: var(--text-muted);
      text-indent: 0;
    }

    &.cozy {
      padding-left: 72px;

      &.group-start {
        min-height: 2.75rem;
      }

      .message-contents {
        position: static;
        margin-left: 0;
        padding-left: 0;
        text-indent: 0;
      }

      .header {
        display: block;
        position: relative;
        line-height: 1.375rem;
        min-height: 1.375rem;
        color: var(--text-muted);
        // white-space: break-spaces;
        // word-wrap: pre-wrap;

        .header-text {
          margin-right: .25rem;
        }

        .timestamp {
          font-size: 0.75rem;
          line-height: 1.375rem;
          color: var(--text-muted);
          vertical-align: baseline;
          margin-left: .25rem;
        }
      }

      .bot-tag {
        margin-left: .25rem;
      }

      .timestamp.alt {
        position: absolute;
        left: 0;
        height: 1.375rem;
        line-height: 1.375rem;
        width: 56px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: right;

        .separator {
          position: absolute;
          opacity: 0;
          width: 0;
          display: inline-block;
          font-style: normal;
        }
      }
    }

    &.mentioned {
      position: relative;
      background-color: var(--background-mentioned);

      .mention {
        border-radius: 0;
        padding: 0;
        background-color: transparent!important;

        &.interactive:hover {
          color: #7289da;
          text-decoration: underline;
        }
      }

      &:hover {
        background-color: var(--background-mentioned-hover);
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        pointer-events: none;
        width: 2px;
        background-color: #faa61a;
      }
    }

    .visible-on-hover {
      opacity: 0;
    }

    .avatar {
      position: absolute;
      left: 16px;
      margin-top: calc(4px - .125rem);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      @include userSelect-none;
      @include flex-0-0-auto;
      pointer-events: none;
      z-index: 1;
    }

    .username {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.375rem;
      color: var(--header-primary);
      display: inline;
      vertical-align: baseline;
      position: relative;

      &.clickable:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .timestamp {
      display: inline-block;
      height: 1.25rem;
      cursor: default;
      font-weight: 500;
    }

    .edited {
      margin-left: .3em;
      font-size: 0.625rem;
      cursor: pointer;
      line-height: 1;
      @include userSelect-none;
      color: var(--text-muted);
      white-space: initial;
    }

    .extras-container {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: .25rem;
      text-indent: 0;
      min-height: 0;
      min-width: 0;
      padding-top: .125rem;
      padding-bottom: .125rem;

      & > * {
        justify-self: start;
        -ms-flex-item-align: start;
        align-self: start;
      }
    }
  }
}
