.app {
  .bot-tag {
    font-size: .625rem;
    text-transform: uppercase;
    vertical-align: top;
    @include display-inlineFlex;
    @include alignItems-center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-indent: 0;
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: .1875rem;
    position: relative;
    top: .1rem;

    &.regular {
      background: #7289da;
      color: #fff;
    }

    .verified {
      width: .9375rem;
      height: .9375rem;
      margin-left: -.25rem;
      display: inline-block;
    }

    .text {
      position: relative;
      font-weight: 500;
      line-height: .9375rem;
    }
  }

  .markup {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    @include userSelect-text;
    color: var(--text-normal);
    font-weight: 400;

    a {
      color: var(--text-link);
      word-break: break-word;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    pre, blockquote {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      max-width: 90%;
    }

    pre {
      border-radius: 4px;
      padding: 0;
      font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
      font-size: 0.75rem;
      line-height: 1rem;
      margin-top: 6px;
      white-space: pre-wrap;
      background-clip: border-box;
    }

    code {
      font-size: 0.875rem;
      line-height: 1.125rem;
      text-indent: 0;
      white-space: pre-wrap;
      scrollbar-width: thin;
      scrollbar-color: var(--background-tertiary) var(--background-secondary);
      background: var(--background-secondary);
      border: 1px solid var(--background-tertiary);

      &.inline {
        width: auto;
        height: auto;
        padding: .2em;
        margin: -.2em 0;
        border-radius: 3px;
        font-size: 85%;
        font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
        text-indent: 0;
        border: none;
        white-space: pre-wrap;
      }
    }
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;

    .hljs-comment, .hljs-quote {
        color: var(--interactive-muted)
    }

    .hljs-addition, .hljs-keyword, .hljs-selector-tag {
      color: #859900
    }

    .hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string,
    .hljs-number, .hljs-regexp, .hljs-string {
      color: #2aa198
    }

    .hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
      color: #268bd2
    }

    .hljs-attr, .hljs-attribute, .hljs-class .hljs-title,
    .hljs-template-variable, .hljs-type, .hljs-variable {
      color: #b58900
    }

    .hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword,
    .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
      color: #cb4b16
    }

    .hljs-built_in, .hljs-deletion {
       color: #dc322f
    }

    .hljs-formula {
      background: #073642
    }

    .hljs-emphasis {
      font-style: italic
    }

    .hljs-strong {
      font-weight: 700
    }
  }

  .clickable {
    cursor: pointer;
  }
}
