.app {
  .bot-tag {
    font-size: .625rem;
    text-transform: uppercase;
    vertical-align: top;
    @include display-inlineFlex;
    @include alignItems-center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-indent: 0;
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: .1875rem;
    position: relative;
    top: .1rem;

    &.regular {
      background: #7289da;
      color: #fff;
    }

    .verified {
      width: .9375rem;
      height: .9375rem;
      margin-left: -.25rem;
      display: inline-block;
    }

    .text {
      position: relative;
      font-weight: 500;
      line-height: .9375rem;
    }
  }
}
