.option-header {
  color: var(--channels-default);
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.radio-group {
  color: var(--header-primary);
  .item {
    &.checked {
      border-color: #7289da;
      background-color: #7289da;

      .checkbox-wrapper {
        .checkbox {
          border-color: #7289da !important;
          background-color: #fff;
          svg {
            color: #7289da;
          }
        }
        .label {
          color: #fff;
        }
      }
    }
    & * {
      @include boxSizing-borderBox;
    }
    @include display-flex;
    @include flexDirection-row;
    padding: 10px;
    background: var(--deprecated-card-editable-bg);
    border-color: var(--background-tertiary);
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 8px;
    &:last-child {
      margin: 0;
    }
    .checkbox-wrapper {
      @include display-flex;
      position: relative;
      @include userSelect-none;
      @include flex-1-1-auto;
      font-size: 16px;
      max-width: 100%;
      @include alignItems-top;
      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        @include appearance-none;
        width: 24px;
        height: 24px;
        z-index: 1;
        cursor: pointer;
      }
      .checkbox {
        .theme-light & { border-color: #b9bbbe; }
        .theme-dark & { border-color: #72767d; }
        @include display-flex;
        @include flex-0-0-auto;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        @include justifyContent-center;
        @include alignItems-center;
        width: 24px;
        height: 24px;
        svg {
          color: transparent;
        }
      }
      .label {
        padding-left: 8px;
        cursor: pointer;
        @include flex-1-1-auto;
        min-width: 0;
        line-height: 24px;
        .info {
          margin-right: 8px;
          width: 100%;
          .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
          }
        }
      }
    }
  }
}

.toggle-box {
  @include display-flex;
  @include flexDirection-column;
  margin-bottom: 20px;
  &.checked {
    .label-row .control .container {
      background: #43b581;
      svg {
        left: 12px;
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    .label-row {
      pointer-events: none;
    }
    .control .container {
      opacity: 0.3;
    }
  }
  .label-row {
    @include display-flex;
    @include flexDirection-row;
    width: 100%;
    @include alignItems-flexStart;
    label {
      @include flex-1;
      display: block;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
      color: var(--header-primary);
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      word-wrap: break-word;
      cursor: pointer;
    }
    .control {
      @include flex-0-0-auto;
      .container {
        position: relative;
        width: 40px;
        height: 24px;
        border-radius: 14px;
        cursor: pointer;
        background: #72767d;
        @include transition('background .15s ease-out');
        svg {
          display: block;
          position: absolute;
          width: 28px;
          height: 18px;
          margin: 3px;
          left: -3px;
          @include transition('left .15s ease-out');
        }
      }
      input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 14px;
        cursor: pointer;
      }
    }
  }
  .note {
    margin-top: 4px;
    color: var(--header-secondary);
    cursor: default;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .divider {
    width: 100%;
    height: 1px;
    border-top: thin solid var(--background-modifier-accent);
    margin-top: 20px;
  }
}
