@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin display-inlineFlex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flexDirection-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-0-0-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@mixin flex-0-1-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

@mixin flex-1-1-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@mixin flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@mixin flexDirection-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flexWrap-noWrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@mixin justifyContent-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin justifyContent-flexStart {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin justifyContent-flexEnd {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin justifyContent-stretch {
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

@mixin justifyContent-spaceBetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin alignItems-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin width-fitContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@mixin alignItems-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin alignItems-top {
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}

@mixin alignItems-flexStart {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin boxSizing-borderBox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flexWrap-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flexWrap-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@mixin userSelect-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin userSelect-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@mixin transformStyle-preserve3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin objectFit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

@mixin objectFit-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

@mixin objectFit-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.marginTop-20 { margin-top: 20px; }
.marginTop-40 { margin-top: 40px; }
.marginBottom-20 { margin-bottom: 20px; }
.marginBottom-40 { margin-bottom: 40px; }
