@import 'assets/crossbrowser';
@import 'assets/common';
@import 'assets/theme_colors';

@import 'components/global';
@import 'components/objects';
@import 'components/app';
@import 'components/channels';
@import 'components/layers';
@import 'components/messages';
@import 'components/table';
@import 'components/options';
@import 'components/tooltip';
@import 'components/developer_portal';

@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url('../assets/fonts/Whitney-400.woff') format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url('../assets/fonts/Whitney-500.woff') format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url('../assets/fonts/Whitney-600.woff') format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url('../assets/fonts/Whitney-700.woff') format('woff');
}

html, body, .app {
  font-family:
    Whitney,
    Roboto,
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: #2a2d32;
  background-color: var(--background-primary);
  padding: 0;
  margin: 0;
}

html, body, .app, #__nuxt, #__layout, .main-layer {
  height: 100%;
  width: 100%;
}
